In [7]:
# Your task 4.1 kinda wrong but ok

# Task 4.2
import sqlite3
connection = sqlite3.connect("equipment.db")

f = open("Additional_Materials/MONITORS.txt")
data = f.read().strip().split("\n")
f.close()
for item in data:
    serial, model, location, purchasedate, writeoff, cleaneddate = item.split(",")
    query = '''
    INSERT INTO Device('SerialNumber','Type','Model','Location','DateOfPurchase','WrittenOff')
    VALUES(?,?,?,?,?,?);
    '''
    connection.execute(query, (int(serial),"Monitor",model,location,purchasedate,writeoff))
    query = ''' INSERT INTO Monitor('SerialNumber','DateCleaned') VALUES(?,?); '''
    connection.execute(query, (int(serial),cleaneddate))

f = open("Additional_Materials/LAPTOPS.txt")
data = f.read().strip().split("\n")
f.close()
for item in data:
    serial, model, location, purchasedate, writeoff, weightkg = item.split(",")
    query = '''
    INSERT INTO Device('SerialNumber','Type','Model','Location','DateOfPurchase','WrittenOff')
    VALUES(?,?,?,?,?,?);
    '''
    connection.execute(query, (int(serial),"Laptop",model,location,purchasedate,writeoff))
    query = ''' INSERT INTO Laptop('SerialNumber','WeightKg') VALUES(?,?); '''
    connection.execute(query, (int(serial),float(weightkg)))

f = open("Additional_Materials/PRINTERS.txt")
data = f.read().strip().split("\n")
f.close()
for item in data:
    serial, model, location, purchasedate, writeoff, toner, datechanged = item.split(",")
    query = '''
    INSERT INTO Device('SerialNumber','Type','Model','Location','DateOfPurchase','WrittenOff')
    VALUES(?,?,?,?,?,?);
    '''
    connection.execute(query, (int(serial),"Printer",model,location,purchasedate,writeoff))
    query = ''' INSERT INTO Printer('SerialNumber','Toner','DateChanged') VALUES(?,?,?); '''
    connection.execute(query, (int(serial),toner,datechanged))

connection.commit()
connection.close()

In [ ]:
# Task 4.3 looking ok

# Task 4.4
# Nope its web which I can't do atm