In [3]:
# Task 1.1
import pymongo, json
client = pymongo.MongoClient('127.0.0.1', 27017)
# client.drop_database('Travel')
db = client.get_database('Travel')
col = db.get_collection('Flight')

f = open("Materials/Additional_Materials/TICKET.json")
data = json.load(f)
col.insert_many(data)
f.close()

all_docs = col.find()
for doc in all_docs:
    print(doc)
print()

client.close()

{'_id': ObjectId('6462d6757e2e27319886872a'), 'country': 'Australia', 'city': 'Sydney', 'price': 904, 'company': 'B Airways', 'durationHour': 8}
{'_id': ObjectId('6462d6757e2e27319886872b'), 'country': 'Australia', 'city': 'Melbourne', 'price': 1628, 'company': 'Q Airlines', 'durationHour': 7}
{'_id': ObjectId('6462d6757e2e27319886872c'), 'country': 'Australia', 'city': 'Perth', 'price': 881, 'company': 'S Airlines', 'durationHour': 5}
{'_id': ObjectId('6462d6757e2e27319886872d'), 'country': 'UK', 'city': 'London', 'price': 1373, 'company': 'L Airlines', 'durationHour': 19, 'stop': 2}
{'_id': ObjectId('6462d6757e2e27319886872e'), 'country': 'UK', 'city': 'London', 'price': 1561, 'company': 'S Airlines', 'durationHour': 17, 'stop': 1}
{'_id': ObjectId('6462d6757e2e27319886872f'), 'country': 'UK', 'city': 'Manchester', 'price': 1708, 'company': 'E Air', 'durationHour': 25, 'stop': 1}
{'_id': ObjectId('6462d6757e2e273198868730'), 'country': 'UK', 'city': 'Manchester', 'price': 2917, 'company': 'B Airways', 'durationHour': 17, 'stop': 1}
{'_id': ObjectId('6462d6757e2e273198868731'), 'country': 'Japan', 'city': 'Osaka', 'price': 821, 'company': 'S Airlines', 'durationHour': 10, 'stop': 1}
{'_id': ObjectId('6462d6757e2e273198868732'), 'country': 'Japan', 'city': 'Tokyo', 'price': 1028, 'company': 'J Airlines', 'durationHour': 7}
{'_id': ObjectId('6462d6757e2e273198868733'), 'country': 'Japan', 'city': 'Tokyo', 'price': 1124, 'company': 'Air J', 'durationHour': 7}

In [4]:
# Task 1.2
import pymongo, json
client = pymongo.MongoClient('127.0.0.1', 27017)
db = client.get_database('Travel')
col = db.get_collection('Flight')

print("Update flights without stops to 0")
search = {"stop":{"$exists":False}}
update = {"$set":{"stop":0}}
col.update_many(search,update)
print()

print("Display all information of S Airlines")
query = {"company":"S Airlines"}
data = col.find(query)
for doc in data:
    print(doc)
print()

print("Display cities and prices for flights under 10h and $1500")
query = {"$and":[{"durationHour":{"$lte":10}}, {"price":{"$lte":1500}}]}
disp = {"city":1, "price":2}
data = col.find(query, disp) #you can list() to make it a list
for doc in data:
    print(f"${doc['price']} in {doc['city']}")
print()

print("Display all information of cheapest ticket")
data = col.find()
for item in data:
    if not cheapest:
        cheapest = item
    elif item['price'] < cheapest['price']:
        cheapest = item
print(cheapest)

client.close()

Update flights without stops to 0

Display all information of S Airlines
{'_id': ObjectId('6462d6757e2e27319886872c'), 'country': 'Australia', 'city': 'Perth', 'price': 881, 'company': 'S Airlines', 'durationHour': 5, 'stop': 0}
{'_id': ObjectId('6462d6757e2e27319886872e'), 'country': 'UK', 'city': 'London', 'price': 1561, 'company': 'S Airlines', 'durationHour': 17, 'stop': 1}
{'_id': ObjectId('6462d6757e2e273198868731'), 'country': 'Japan', 'city': 'Osaka', 'price': 821, 'company': 'S Airlines', 'durationHour': 10, 'stop': 1}

Display cities and prices for flights under 10h and $1500
$904 in Sydney
$881 in Perth
$821 in Osaka
$1028 in Tokyo
$1124 in Tokyo

Display all information of cheapest ticket
{'_id': ObjectId('6462d6757e2e273198868731'), 'country': 'Japan', 'city': 'Osaka', 'price': 821, 'company': 'S Airlines', 'durationHour': 10, 'stop': 1}