In [6]:
# Task 4.1
import sqlite3

conn = sqlite3.connect("LIBRARY.db")

query = '''CREATE TABLE `Book` 
        (`BookID` INTEGER NOT NULL UNIQUE, 
        `Title` TEXT, 
        `Genre` TEXT, 
        PRIMARY KEY(`BookID`));'''
conn.execute(query)

query = '''CREATE TABLE `Member` 
        (`MemberNumber` INTEGER NOT NULL UNIQUE, 
        `FamilyName` TEXT, 
        `GivenName` TEXT,
        PRIMARY KEY(`MemberNumber`));'''
conn.execute(query)

query = '''CREATE TABLE `Loan` 
        (`LoanID` INTEGER NOT NULL UNIQUE, 
        `MemberNumber` INTEGER, 
        `BookID` INTEGER,
        `DateLoaned` TEXT,
        `Returned` BOOLEAN,
        PRIMARY KEY(`LoanID`),
        FOREIGN KEY(`BookID`) REFERENCES `Book`(`BookID`),
        FOREIGN KEY(`MemberNumber`) REFERENCES `Member`(`MemberNumber`));'''
conn.execute(query)

conn.close()

In [7]:
# Task 4.2
f = open("BOOK.txt")
books = f.read().strip().split('\n')
f.close()

f = open("MEMBER.txt")
members = f.read().strip().split('\n')
f.close()

f = open("LOAN.txt")
loans = f.read().strip().split('\n')
f.close()

conn = sqlite3.connect("LIBRARY.db")

for book in books:
    bookid, title, genre = book.split(',')
    conn.execute('''INSERT INTO Book(BookID, Title, Genre) 
                VALUES(?,?,?)''', (int(bookid), title, genre))
    
for member in members:
    membernum, famname, givenname = member.split(',')
    conn.execute('''INSERT INTO Member(MemberNumber, FamilyName, GivenName) 
                VALUES(?,?,?)''', (int(membernum), famname, givenname))
    
for loan in loans:
    loanid, memnum, bookid, dateloan, returned = loan.split(',')
    conn.execute('''INSERT INTO Loan(LoanID, MemberNumber, BookID, DateLoaned, Returned) 
                VALUES(?,?,?,?,?)''', (int(loanid), int(memnum), int(bookid), dateloan, returned))
    
conn.commit()
conn.close()

In [8]:
# Task 4.3
membernumber = int(input("Enter a member number: "))

conn = sqlite3.connect("LIBRARY.db")

query = '''SELECT Book.Title, Loan.Returned FROM Loan 
        INNER JOIN Member ON Loan.MemberNumber = Member.MemberNumber
        INNER JOIN Book ON Loan.BookID = Book.BookID
        WHERE Member.MemberNumber = ?'''
result = conn.execute(query, (membernumber,)).fetchall()

for item in result:
    print(item)

conn.close()

Enter a member number: 200
('Monkey puzzle', 'FALSE')
('Contemplating Camelias', 'FALSE')
('Sandy shores', 'FALSE')
('Propogation', 'TRUE')